body {
    font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight:300;
    margin: 0;
}

/*Header Stuff Here*/
header {
   background-color: #4fe0e0;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #864fe0;
}
header p {
    margin: 0;
    color: #864fe0;
    letter-spacing:.5px;
}
/* Nav Stuff goes here*/
nav {
    background-color: #96ffb2;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav  a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #864fe0;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
background-color:#864fe0;
color:#96ffb2;
}
nav a:hover {
    color:#f857df;
}

/*stuff for the main*/
main {
    padding: 1rem 2vw;
}
main h1 {
    color:#864fe0;
}

main h2 {
    color:#6392f7;
    margin-bottom: .2rem;
}
main h3 {
    color:#6392f7;
    font-size:20px;
}
main h4 {
    color:#6392f7;
    font-size:20px;
}
main h5 {
    color:#6392f7;
    font-size:20px;
}
main h6 {
    color:#6392f7;
    font-size:20px;
    
}
strong {
    color:#6392f7;
}

main p {
    color:#864fe0;
    margin: 0 0 .3rem 0;
}
main ol {
    padding:.5rem 3vw;
    background-color:#4fe0e0;
}
main dl dt {
    color:#6392f7;
    font-weight: 700;
}
main dl dd {
    color: #864fe0;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color:#96ffb2;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #f857df;
    border-radius: .5rem;
}
main a {
    color:#6392f7;  
}
main a:hover {
    color: rgb(239,0,24)
}

/*footer stuff here*/
footer {
    background-color:#4fe0e0;
    text-align: center;
    color:#864fe0;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #864fe0;
}